@media screen and (min-width: 768px) {
    .testemunhos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    
    }

    .testemunho-item {
        max-width: 45%;
        margin: 15px;
    }
}
