@media (max-width: 768px) {
    .creditos {
        padding: 30px; 
        margin: 20px;  
        margin-top: 50px;
    }
}

@media (max-width: 480px) {
    .creditos {
        padding: 20px; 
        margin: 10px;  
    }
    video {
      
        width: 400px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
}