body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
    background: url(../imagens/me\ de\ uma\ imagem\ para\ usar\ de\ fundo\ que\ pareça\ ter\ luxo\ \ mais\ luxo\ e\ que\ possa\ se\ repetir\ \ sem\ perceber\ que\ esta\ se\ repetindo.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #e0c084;
}

#conteudo {
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 30px;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.LINK-2 {
    color: #fff;
    background: linear-gradient(45deg, #b8860b, #8b6508);
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.LINK-2:hover {
    background: linear-gradient(45deg, #8b6508, #b8860b);
}

.creditos {
    background-color: rgba(40, 40, 90, 0.9);
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 18px;
    color: #d3af37;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

p {
    text-align: justify;
    letter-spacing: 1px;
    font-size: 1.1em;
}

h2 {
    color: #a28116;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

a {
    text-decoration: none;
    border-radius: 18px;
}

.link-p {
    text-align: center;
    margin-bottom: 30px;
}

img {
    width: 500px;
    border: 3px solid #b8860b;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

video {
    width: 100%;
    max-width: 600px;
    min-width: 400px;
    border-radius: 18px;
    border: 3px solid #d3af37;
    display: block;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
